{% load static %}

<html>
<head>
{% include 'base_css.html' %}
<title>{{ title }}</title>
</head>

<body>
    <br><br><br>
    <div class="container-fluid col-3">
    <br><br>
<div class="card">

  <h5 class="card-header info-color white-text text-center py-4">
    <strong><i class="fas fa-user-shield"></i> Sign in</strong>
  </h5>

    {% if error %}
        <h6 class="danger-color white-text text-center py-4">
            <strong><i class="fas fa-exclamation-circle"></i> {{ error }}</strong>
        </h6>
    {% endif %}
  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

    <!-- Form -->
    <form class="text-center" style="color: #757575;" action="{% url 'login' %}" method="POST">
    {% csrf_token %}
      <!-- Email -->
      <div class="md-form">
        <input type="text" id="materialLoginFormUsername" class="form-control" name="username">
        <label for="materialLoginFormUsername">Username</label>
      </div>

      <!-- Password -->
      <div class="md-form">
        <input type="password" id="materialLoginFormPassword" class="form-control" name="password">
        <label for="materialLoginFormPassword">Password</label>
      </div>

      <div class="d-flex justify-content-around">
        <div>
          <!-- Remember me -->
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
            <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
          </div>
        </div>
        <div>
          <!-- Forgot password -->
          <a href="">Forgot password?</a>
        </div>
      </div>

      <!-- Sign in button -->
      <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>

      <!-- Register -->
      <p>Not a member?
        <a href="{% url 'signup' %}">Register</a>
      </p>
      <p>Back to
        <a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a>
      </p>
    </form>
    <!-- Form -->

  </div>
</div>
</div>

</body>
{% include 'base_scripts.html' %}

</html>